
@{
    ViewData["Title"] = "Unauthorized";
    Layout = "~/Views/Shared/layout.cshtml";
}

<div class="container">
    <div class="text-center mt-5">
        <h2 class="text-danger">U R Not Allowed To Enter This Page!!!!</h2>    
    </div>
    <div class="text-center mt-5 mb-5">
        <i class="fa fa-hand-stop-o fa-10x text-danger"></i>
    </div>
    <p class="lead text-dark">Unauthorized User </p>
    <div class="text-right">
        <span class="text-secondary text-right font-italic"><strong>U Must Have The Credentials To Access This Site Pages!!</strong></span>
    </div>
</div>