
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/layout.cshtml";
}

<div class="container">
    <h4>Forget Password</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="forgetpassword">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label">Email</label>
                    <input type="email" name="email" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="login" class="btn btn-outline-dark">Back to List</a>
    </div>
</div>


