@model GradProj.ViewModels.ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/layout.cshtml";
}

<div class="container">
    <h4>Reset Password</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="resetpassword">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input hidden  asp-for="ID" class="form-control" value="@ViewBag.ID" />
                <input hidden  asp-for="Token" class="form-control" value="@ViewBag.Token" />
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="login" class="btn btn-outline-dark">Back to List</a>
    </div>
</div>
